<a href="https://colab.research.google.com/github/ashamril/Text-Analytics/blob/master/Malaysia_Covid19_Ringkasan_Kematian_web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Web scapping data (table) Ringkasan Kematian from https://kpkesihatan.com/category/communicable-disease/**

In [25]:
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
import requests
import calendar
import re
from collections import Counter
from wordcloud import WordCloud
import pandas as pd
import matplotlib.pyplot as plt
from collections import OrderedDict  
from pandas import DataFrame
import plotly.express as px
import numpy as np

In [26]:
# # For testing
# URL = f"https://kpkesihatan.com/2021/2/9/kenyataan-akhbar-kpk-9-februari-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

# response = requests.get(URL)
# if response.status_code == 200:
#   html_text = response.text

# soup = BeautifulSoup(html_text)
# tables = soup.findAll('table')

In [27]:
# # For testing
# for table in tables:
#     if "No. Kematian" in table.text:
#       selected_table = table
#       for thead in selected_table:
#         thead.name = "tbody"
#         dfRead = pd.read_html(str(selected_table), header=None)[0]
                
# print(type(dfRead))
# dfRead

In [28]:
def collectLatarBelakang(day, month, mth, year):
  global dfAll
  URL = f"https://kpkesihatan.com/{year}/{month}/{day}/kenyataan-akhbar-kpk-{day}-{mth}-{year}-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia"

  response = requests.get(URL)
  if response.status_code == 200:
    html_text = response.text
    soup = BeautifulSoup(html_text)
    tables = soup.findAll('table')
  
    for table in tables:
      if "No. Kematian" in table.text:
        selected_table = table
        for thead in selected_table:
          thead.name = "tbody"
          dfRead = pd.read_html(str(selected_table), header=None)[0]
          dfAll = pd.concat([dfAll, dfRead])
          return dfAll
      else:
        #print("Tiada kematian pada {} {} {}".format(day, mth, year))
        tiadaKematian.append("{} {} {}".format(year, month, day))

  else:
    print("Link 404! {}".format(URL))

In [29]:
dfAll = pd.DataFrame()
tiadaKematian = []

# # Dec KO
for i in range(1, 31):
  day = i
  month = 12
  year = 2020
  mth = "disember"
  collectLatarBelakang(day, month, str(mth), year)

# Jan OK
for i in range(1, 31):
  day = i
  month = 1
  year = 2021
  mth = "januari"
  collectLatarBelakang(day, month, str(mth), year)

# Feb OK
for i in range(1, 28):
  day = i
  month = 2
  year = 2021
  mth = "februari"
  collectLatarBelakang(day, month, str(mth), year)

dfAll

Link 404! https://kpkesihatan.com/2020/12/10/kenyataan-akhbar-kpk-10-disember-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia

               0  ...                                                  6
0   No. Kematian  ...                                     Latar Belakang
1            361  ...  Penyakit kencing manis, darah tinggi dan kanse...
2            362  ...  Penyakit darah tinggi, kencing manis dan penya...
3            363  ...                                                  â€“
0   No. Kematian  ...                                     Latar Belakang
..           ...  ...                                                ...
6           1117  ...  Penyakit kencing manis, darah tinggi, dislipid...
7           1118  ...  Penyakit darah tinggi, jantung, buah pinggang ...
8           1119  ...        Penyakit paru-paru obstruktif kronik (COPD)
9           1120  ...                                                  â€“
10          1121  ...                                                  â€“

[820 rows x 7 columns]

In [30]:
x = np.array(tiadaKematian)
uniqDate = np.unique(x)
uniqDate.sort()
print(uniqDate)

['2020 12 18' '2020 12 4' '2021 1 20' '2021 1 21' '2021 1 22' '2021 1 23'
 '2021 1 24' '2021 1 25' '2021 1 26' '2021 1 27' '2021 1 28' '2021 1 29'
 '2021 1 30' '2021 2 1' '2021 2 10' '2021 2 11' '2021 2 12' '2021 2 13'
 '2021 2 14' '2021 2 15' '2021 2 16' '2021 2 17' '2021 2 18' '2021 2 19'
 '2021 2 2' '2021 2 20' '2021 2 21' '2021 2 22' '2021 2 23' '2021 2 24'
 '2021 2 25' '2021 2 26' '2021 2 27' '2021 2 3' '2021 2 4' '2021 2 5'
 '2021 2 6' '2021 2 7' '2021 2 8' '2021 2 9']

In [31]:
dfAll.columns=["No. Kematian", "No. Kes", "Negeri", "Jantina (Warganegara)", "Umur (tahun)", "Hospital / Tempat Kematian", "Latar Belakang"]

In [32]:
df_filtered = dfAll[dfAll['No. Kematian'] != 'No. Kematian']

In [33]:
df_filtered = df_filtered.reset_index()
df_filtered = df_filtered.drop('index', axis = 1) 
df_filtered

    No. Kematian  ...                                     Latar Belakang
0            361  ...  Penyakit kencing manis, darah tinggi dan kanse...
1            362  ...  Penyakit darah tinggi, kencing manis dan penya...
2            363  ...                                                  â€“
3            364  ...                             Penyakit kencing manis
4            365  ...                     Penyakit darah tinggi dan asma
..           ...  ...                                                ...
731         1117  ...  Penyakit kencing manis, darah tinggi, dislipid...
732         1118  ...  Penyakit darah tinggi, jantung, buah pinggang ...
733         1119  ...        Penyakit paru-paru obstruktif kronik (COPD)
734         1120  ...                                                  â€“
735         1121  ...                                                  â€“

[736 rows x 7 columns]

In [34]:
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace("dan", ",")
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace(" ,", ",")
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace(", ", ",")
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace(",,", ",")
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace("â€“", "tiada latar belakang")
df_filtered['Latar Belakang'] = df_filtered['Latar Belakang'].str.replace("Penyakit", "")
df_filtered['Hospital / Tempat Kematian'] = df_filtered['Hospital / Tempat Kematian'].str.replace("Jenazah di bawa ke ", "")
df_filtered['Hospital / Tempat Kematian'] = df_filtered['Hospital / Tempat Kematian'].str.replace("Jenazah dibawa ke ", "")
df_filtered['Negeri'] = df_filtered['Negeri'].str.replace("W.P.", "WP")

In [35]:
df_filtered

    No. Kematian  ...                                     Latar Belakang
0            361  ...             kencing manis,darah tinggi,kanser usus
1            362  ...        darah tinggi,kencing manis,penyakit jantung
2            363  ...                               tiada latar belakang
3            364  ...                                      kencing manis
4            365  ...                                  darah tinggi,asma
..           ...  ...                                                ...
731         1117  ...      kencing manis,darah tinggi,dislipidemia,strok
732         1118  ...   darah tinggi,jantung,buah pinggang kronik,hat...
733         1119  ...                 paru-paru obstruktif kronik (COPD)
734         1120  ...                               tiada latar belakang
735         1121  ...                               tiada latar belakang

[736 rows x 7 columns]

In [36]:
dfRingkasanKematian = df_filtered.copy()
dfRingkasanKematian.to_csv("dfRingkasanKematian.csv", sep=',', mode='a', index=True)

In [37]:
grpNegeri = dfRingkasanKematian.groupby(['Negeri'])
# Displat first value
grpNegeri.first()

                No. Kematian  ...                                     Latar Belakang
Negeri                        ...
Johor                    371  ...                    kencing manis,darah tinggi,gout
Kedah                    484  ...                    kencing manis,darah tinggi,asma
Kelantan                 372  ...                              darah tinggi,demensia
Melaka                   451  ...   kencing manis,darah tinggi,Benign Prostatic H...
Negeri Sembilan          367  ...                     darah tinggi,dislipidemia,gout
Pahang                   498  ...                                    hati,Retroviral
Perak                    381  ...                  darah tinggi,buah pinggang kronik
Pulau Pinang             401  ...                   kencing manis,darah tinggi,strok
Sabah                    361  ...             kencing manis,darah tinggi,kanser usus
Sarawak                  610  ...   kencing manis,darah tinggi,jantung,buah pingg...
Selangor                 366  ...                  darah tinggi,dislipidemia,obesiti
Terengganu               603  ...    kencing manis,jantung,buah pinggang kronik,gout
WP Kuala Lumpur          368  ...                               tiada latar belakang
WP Labuan                416  ...                                      kencing manis
WP Putrajaya             369  ...                         kencing manis,darah tinggi

[15 rows x 6 columns]

In [38]:
grpNegeri.get_group('Selangor')

    No. Kematian  ...                                     Latar Belakang
5            366  ...                  darah tinggi,dislipidemia,obesiti
12           373  ...               darah tinggi,asma,dislipidemia,strok
13           374  ...   darah tinggi,kencing manis,strok,penyakit kem...
19           380  ...                         kencing manis,darah tinggi
46           410  ...                               tiada latar belakang
..           ...  ...                                                ...
718         1104  ...                         kencing manis,darah tinggi
719         1105  ...    kencing manis,darah tinggi,jantung,asma,obesiti
720         1106  ...   kencing manis,darah tinggi,buah pinggang kron...
729         1115  ...                         kencing manis,darah tinggi
730         1116  ...                                       darah tinggi

[239 rows x 6 columns]

In [39]:
nByAge = dfRingkasanKematian.groupby(["Negeri"])["No. Kematian"].count()
nByAge

Negeri
Johor               71
Kedah               10
Kelantan            14
Melaka              13
Negeri Sembilan     20
Pahang               7
Perak               26
Pulau Pinang        12
Sabah              161
Sarawak             61
Selangor           239
Terengganu          10
WP Kuala Lumpur     79
WP Labuan            6
WP Putrajaya         7
Name: No. Kematian, dtype: int64

In [40]:
# #For testing
# del dfRingkasanKematian
# dfRingkasanKematian = pd.DataFrame()
# for i in range(7, 11):
#   day = i
#   month = 12
#   year = 2020
#   mth = "disember"
#   df = collectLatarBelakang(day, month, str(mth), year)
#   print(df)
#   dfRingkasanKematian = pd.DataFrame.append(dfRingkasanKematian, df)

# dfRingkasanKematian