<a href="https://colab.research.google.com/github/ashamril/Text-Analytics/blob/master/requestsURL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
import requests
import calendar
import re
from collections import Counter
from wordcloud import WordCloud
import pandas as pd
import matplotlib.pyplot as plt
from collections import OrderedDict  
from pandas import DataFrame
import plotly.express as px

In [2]:
# URL = "https://sdvi2.fama.gov.my/price/direct/price/daily_commodityRpt.asp?Pricing=A&LevelCd=03&PricingDt=2021/3/18"

# dfAll = pd.DataFrame()
# dfAllNegeri = pd.DataFrame()
# response = requests.get(URL)
# if response.status_code == 200:
#   html_text = response.text
#   soup = BeautifulSoup(html_text)
#   tables = soup.findAll('table')

#   for table in tables:
#     if "Pusat" in table.text:
#       selected_negeri = table
#       dfNegeri = pd.read_html(str(selected_negeri), header=None)[0]
#       dfHarga = pd.read_html(str(selected_table), header=None)[0]
#       dfHarga["Negeri"] = dfNegeri
#       dfAll = pd.concat([dfAll, dfHarga])
       
#     else:
#       print("Link 404! {}".format(URL))

In [4]:
URL = "https://sdvi2.fama.gov.my/price/direct/price/daily_commodityRpt.asp?Pricing=A&LevelCd=03&PricingDt=2021/3/18"

dfAllNegeri = pd.DataFrame()

response = requests.get(URL)
html_text = response.text
soup = BeautifulSoup(html_text)
tables = soup.findAll('table')

for table in tables[1:]:
  if "Pusat" in table.text:
    dfNegeri = pd.read_html(str(table), header=None)[0]
    dfAllNegeri = pd.concat([dfAllNegeri, dfNegeri])

#dfAllNegeri = dfAllNegeri[dfAllNegeri[0].str.contains("Pusat")]
lstAllNegeri = dfAllNegeri.values.tolist()

In [14]:
i = 0
dfAllHarga = pd.DataFrame()
for table in tables[1:]:
  if "Nama Varieti" in table.text:
    if i < len(lstAllNegeri):
      dfHarga = pd.read_html(str(table), header=None)[0]
      dfHarga = dfHarga[~dfHarga[0].str.contains("Varieti")]
      dfHarga["Pusat"] = str(lstAllNegeri[i])
      dfAllHarga = pd.concat([dfAllHarga, dfHarga])
      i += 1

dfAllHarga.columns=["Nama Varieti", "Gred", "Unit", "HargaTinggi", "HargaPurata", "HargaRendah", "Pusat"]
dfAllHarga['Pusat'] = dfAllHarga['Pusat'].str.replace("\['Pusat : ", "")
dfAllHarga['Pusat'] = dfAllHarga['Pusat'].str.replace("'\]", "")
dfAllHarga = dfAllHarga.reset_index()
dfAllHarga = dfAllHarga.drop('index', axis = 1) 
dfAllHarga.head()

                  Nama Varieti   Gred  ... HargaRendah               Pusat
0                   AYAM HIDUP  F.A.Q  ...        7.30  JOHOR BAHRU, JOHOR
1         AYAM PROSES STANDARD  F.A.Q  ...        8.60  JOHOR BAHRU, JOHOR
2  BAWANG BESAR KUNING/HOLLAND  F.A.Q  ...        5.00  JOHOR BAHRU, JOHOR
3  BAWANG BESAR MERAH (IMPORT)  F.A.Q  ...        5.00  JOHOR BAHRU, JOHOR
4   BAWANG BESAR MERAH (INDIA)  F.A.Q  ...        5.00  JOHOR BAHRU, JOHOR

[5 rows x 7 columns]

In [15]:
dfAllHarga[dfAllHarga['Pusat'].str.contains("selangor", na=False, case=False)]

                             Nama Varieti  ...               Pusat
337                            AYAM HIDUP  ...    GOMBAK, SELANGOR
338                  AYAM PROSES STANDARD  ...    GOMBAK, SELANGOR
339           BAWANG BESAR KUNING/HOLLAND  ...    GOMBAK, SELANGOR
340           BAWANG BESAR MERAH (IMPORT)  ...    GOMBAK, SELANGOR
341            BAWANG BESAR MERAH (INDIA)  ...    GOMBAK, SELANGOR
..                                    ...  ...                 ...
451             TEMBIKAI MERAH TANPA BIJI  ...  PETALING, SELANGOR
452  TERUNG PANJANG/PEPARU (TANAH RENDAH)  ...  PETALING, SELANGOR
453                           TIMUN HIJAU  ...  PETALING, SELANGOR
454                 TOMATO (TANAH TINGGI)  ...  PETALING, SELANGOR
455                   UBI KENTANG HOLLAND  ...  PETALING, SELANGOR

[119 rows x 7 columns]

In [16]:
dfAllHarga.loc[dfAllHarga['Pusat'] == "KOTA SETAR, KEDAH"]

                            Nama Varieti    Gred  ... HargaRendah              Pusat
38                  AYAM PROSES STANDARD   F.A.Q  ...        8.00  KOTA SETAR, KEDAH
39                     AYAM PROSES SUPER   F.A.Q  ...        9.00  KOTA SETAR, KEDAH
40           BAWANG BESAR KUNING/HOLLAND   F.A.Q  ...        4.80  KOTA SETAR, KEDAH
41           BAWANG BESAR MERAH (IMPORT)   F.A.Q  ...        5.00  KOTA SETAR, KEDAH
42           BAWANG MERAH/KECIL (IMPORT)   F.A.Q  ...        6.00  KOTA SETAR, KEDAH
43             BAWANG MERAH/KECIL (THAI)   F.A.Q  ...        8.00  KOTA SETAR, KEDAH
44                  BAWANG PUTIH (CHINA)   F.A.Q  ...        6.00  KOTA SETAR, KEDAH
45                                 BAYAM   F.A.Q  ...        4.50  KOTA SETAR, KEDAH
46                       BELIMBING (B10)   F.A.Q  ...        6.00  KOTA SETAR, KEDAH
47                          BETIK SEKAKI   F.A.Q  ...        4.00  KOTA SETAR, KEDAH
48                          BUNGA KANTAN   F.A.Q  ...        2.50  KOTA SETAR, KEDAH
49                   CILI HIJAU (IMPORT)   F.A.Q  ...       10.00  KOTA SETAR, KEDAH
50         CILI MERAH KULAI/KULAI HIBRID   F.A.Q  ...       13.00  KOTA SETAR, KEDAH
51                           DAUN BAWANG   F.A.Q  ...       10.00  KOTA SETAR, KEDAH
52               DAUN SUP (TANAH TINGGI)   F.A.Q  ...        7.00  KOTA SETAR, KEDAH
53                          KACANG BENDI   F.A.Q  ...        5.00  KOTA SETAR, KEDAH
54                         KACANG BUNCIS   F.A.Q  ...        8.00  KOTA SETAR, KEDAH
55                  KACANG PANJANG HIJAU   F.A.Q  ...        6.00  KOTA SETAR, KEDAH
56                              KANGKUNG   F.A.Q  ...        3.00  KOTA SETAR, KEDAH
57                        KELAPA DIKUPAS  SEDANG  ...        2.30  KOTA SETAR, KEDAH
58                          KELAPA PARUT   F.A.Q  ...        7.00  KOTA SETAR, KEDAH
59                    KETOLA/PETOLA SEGI   F.A.Q  ...        4.50  KOTA SETAR, KEDAH
60                   KUBIS BULAT (CHINA)   F.A.Q  ...        3.50  KOTA SETAR, KEDAH
61               KUBIS BULAT (INDONESIA)   F.A.Q  ...        3.50  KOTA SETAR, KEDAH
62            KUBIS BULAT (TANAH TINGGI)   F.A.Q  ...        4.00  KOTA SETAR, KEDAH
63                       PISANG BERANGAN   F.A.Q  ...        5.50  KOTA SETAR, KEDAH
64                            PISANG MAS   F.A.Q  ...        5.50  KOTA SETAR, KEDAH
65                          SANTAN PEKAT   F.A.Q  ...       11.00  KOTA SETAR, KEDAH
66                            SAWI HIJAU   F.A.Q  ...        4.00  KOTA SETAR, KEDAH
67                            TELUR AYAM       A  ...         .32  KOTA SETAR, KEDAH
68                            TELUR AYAM       B  ...         .28  KOTA SETAR, KEDAH
69                            TELUR AYAM       C  ...         .23  KOTA SETAR, KEDAH
70                        TEMBIKAI MERAH   F.A.Q  ...        3.00  KOTA SETAR, KEDAH
71             TEMBIKAI MERAH TANPA BIJI   F.A.Q  ...        3.00  KOTA SETAR, KEDAH
72  TERUNG PANJANG/PEPARU (TANAH RENDAH)   F.A.Q  ...        5.50  KOTA SETAR, KEDAH
73                           TIMUN HIJAU   F.A.Q  ...        3.00  KOTA SETAR, KEDAH
74                 TOMATO (TANAH TINGGI)   F.A.Q  ...        4.00  KOTA SETAR, KEDAH
75                   UBI KENTANG HOLLAND   F.A.Q  ...        4.80  KOTA SETAR, KEDAH

[38 rows x 7 columns]